#home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: calc(100vh - 100px);
}

#home .wrap {
  text-align: center;
}

#home .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}